[submodule "include/IVio"]
	path = include/IVio
	url = git@github.com:iv-project/IVio.git
[submodule "include/seqan3"]
	path = include/seqan3
	url = git@github.com:seqan/seqan3.git
[submodule "include/sdsl-lite"]
	path = include/sdsl-lite
	url = https://github.com/xxsds/sdsl-lite
